{
        "controller": {
                "mac": "00:00:00:00:00:00",
                "mapping": "HARMONY_WINDOWS"
        },
        "xbmc": {
                "host": "127.0.0.1",
                "mac": "00:00:00:00:00:00"
        }
}


[main]
# Maybe you want to use a different logfile name than the standard linux log-path
;log_file = different logfile name

# Adjusting the log level [DEBUG|INFO|ERROR|CRITICAL] default = INFO
;log_level = INFO

[remote-system]
# The ip of the remote system
host = 127.0.0.1

# The mac-adress of the network-card
mac = xx:xx:xx:xx:xx:xx

# If you whish to enable shutdown over ssh, enter the following values:
;ssh_port = 22
;ssh_username = ssh_username
;ssh_password = secret
;sudo_password = very_secret

[bluetooth-controller]
# mac adress of the local bluetooth-controler
mac = xx:xx:xx:xx:xx:xx

# name of the mapping
mapping = mapping_name

[xbmc]
# If you use different kodi values, enter these parameters here:
;web_port = 8080
;eventserver_port = 9777
;username = kodi
;password = kodi